.example-container {
  height: 75%;
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}
th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 0 .5% !important;
  font-size: smaller;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}