<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Formulario Simple</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="!flag"
        fxLayout="row" fxLayoutAlign="center center" class="mb-5" >
            <button 
                (click)="flag = true" 
                mat-raised-button color="primary">
                Abrir formulario!
            </button>
        </div>
        <app-formulario [estado]="flag" (cambio)="flag = e" ></app-formulario>
    </mat-card-content>
</mat-card>
