<h1 mat-dialog-title>Modifica las preguntas de usuario</h1>
<form
[formGroup]="formulario" 
(ngSubmit)="guardar()" 
>
<div mat-dialog-content fxLayout="row wrap" fxLayoutAlign="space-around center" style="margin: 2% auto"> 
    <ng-container *ngFor="let item of dataApi | async">
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-around">
            <mat-form-field appearance="outline" fxFlex="90">
              <mat-label>{{item.label}}</mat-label>
              <input  matInput [formControlName]="item.name" placeholder="Placeholder">
              <mat-error *ngIf="formulario.controls[item.name].errors?.required">
                  Esta pregunta es <strong>necesaria</strong>
                </mat-error>
            </mat-form-field>
            <button style="margin-top: .75em;" mat-mini-fab aria-label="Example icon-button with a heart icon">
                <mat-icon>swap_horizontal_circle</mat-icon>
            </button>
        </div>
    </ng-container>
</div>
<!-- <div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="end" fxFlexFill >
          <button mat-button type="button" (click)="onNoClick()">Close</button>
          <button mat-button type="submit" >Guardar</button>
    </div>
</div> -->
    </form>
