<h1 mat-dialog-title>Modifica las preguntas de usuario</h1>
<form
[formGroup]="formulario" 
(ngSubmit)="guardar()" 
>
<div mat-dialog-content fxLayout="row wrap" fxLayoutAlign="space-around center" style="margin: 2% auto"> 
    <mat-form-field fxFlex="70" *ngIf="(dataApi|async) as data">
        <mat-label>Preguntas Posibles</mat-label>
        <mat-select (selectionChange)="seleccionPregunta($event)">
          <mat-option *ngFor="let p of data" [value]="p.orden">
            {{p.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-around">
            <mat-form-field appearance="outline" fxFlex="90">
              <mat-label>Pregunta</mat-label>
              <input  matInput [formControlName]="'pregunta'" placeholder="Placeholder">
              <mat-error *ngIf="formulario.controls['pregunta'].errors?.required">
                  Esta pregunta es <strong>necesaria</strong>
                </mat-error>
            </mat-form-field>
            <button style="margin-top: .75em;" mat-mini-fab aria-label="Example icon-button with a heart icon">
                <mat-icon>swap_horizontal_circle</mat-icon>
            </button>
        </div>
</div>
<!-- <div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="end" fxFlexFill >
          <button mat-button type="button" (click)="onNoClick()">Close</button>
          <button mat-button type="submit" >Guardar</button>
    </div>
</div> -->
    </form>
