    <form  *ngIf="estado"
      style="margin: 2% auto"
      [formGroup]="formulario" 
      (ngSubmit)="guardar()" 
      fxLayout="row wrap" fxLayoutAlign="space-around center">

            <mat-form-field appearance="outline" fxFlex="45">
              <mat-label>Nombres</mat-label>
              <input  matInput formControlName="nombres" placeholder="Placeholder">
              <mat-icon matSuffix>person_outline</mat-icon>
              <mat-error *ngIf="formulario.controls['nombres'].errors?.required">
                  Los nombres son <strong>necesarios</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="45">
              <mat-label>Correo Electrónico</mat-label>
              <input type="email" matInput formControlName="correo" placeholder="Placeholder">
              <mat-icon matSuffix>mail</mat-icon>
              <mat-error *ngIf="formulario.controls['correo'].errors?.required">
                  El correo es <strong>necesario</strong>
              </mat-error>
              <mat-error *ngIf="formulario.controls['correo'].errors?.pattern">
                  El formato del correo es <strong>incorrecto</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="45" >
              <mat-label>Teléfono</mat-label>
              <input type="number" matInput formControlName="telefono" placeholder="Placeholder">
              <mat-error *ngIf="formulario.controls['telefono'].errors?.required">
                  El telefono es <strong>necesario</strong>
                </mat-error>
                <mat-error *ngIf="formulario.controls['telefono'].errors?.pattern">
                  El número de telefono es <strong>incorrecto</strong>
                </mat-error>
            </mat-form-field>
            
              <ng-container *ngFor="let item of dataApi | async">
                <mat-form-field appearance="outline" fxFlex="45">
                  <mat-label>{{item.pregunta}}</mat-label>
                  <input  matInput [formControlName]="item.name" placeholder="Placeholder">
                  <mat-error *ngIf="formulario.controls[item.name].errors?.required">
                      Esta pregunta es <strong>necesaria</strong>
                    </mat-error>
                </mat-form-field>
              </ng-container>
            
            
            



            <div fxLayout="row" fxLayoutAlign="center" fxFlex="100" style="margin-top: 5%">
              <button [disabled]="!formulario.valid" fxFlex="50" mat-raised-button color="accent">
                Submit
              </button>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" fxFlex="100" style="margin-top: 2%">
              <button type="button" (click)="cancelar()" fxFlex="50" mat-raised-button color="accent">
                Cancelar
              </button>
            </div>
    </form>

